* {
    margin: 0;
}

body {
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header, nav, aside, main, footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    padding: 20px 0px;
    border-radius: 5px;
}


header {
    background-color: #f7788f;
}

nav {
    background-color: #49e2a9;
}

.content {
    display: flex;
    gap: 10px;
}

aside {
    background-color: #fad0d6;
    width: 30%;
}

main {
    background-color: #c9edff;
    width: 70%;
    height: 300px;
}

footer {
    background-color: #b980ff;
}

/* breakpoint */
@media (max-width: 320px) {
    .content {
        flex-direction: column;
    }

    main {
        width: 100%;
        order: -1;
    }

    aside {
        height: 300px;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    * {
        background: #49e2a9;
    }
}

@media (orientation: landscape) {
    * {
        background: red;
    }
}

@media screen and (orientation: landscape) {
    * {
        background: red;
    }
}

@media print {
    button {
        display: none;
    }
}

/* Media queries comuns */


/* 320px — 480px: dispositivos móveis */
@media (min-width: 320px) and (max-width: 480px) {
    /* Seu código aqui.. */
}

/* 481px — 768px: iPads, tablets */
@media (min-width: 481px) and (max-width: 768px) {
    /* Seu código aqui.. */
}

/* 769px — 1024px: telas pequenas, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Seu código aqui.. */
}

/* 
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs */
